*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #1e5f74;
}
.searchbox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  padding: 15px;
  width: 70%;
  max-width: 800px;
  height: 40px;
  margin: 40px 10px 0px 0px;
  border-radius: 5px 5px 5px 5px;

  font-family: 'montseratt', sans-serif;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  
  background-color: rgba(255, 255, 255, 0.3);

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #0a0a0a;
  font-size: 20px;

  transition: 0.4s ease;
}
.search-bar:focus{
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px rgba(85, 196, 196, 0.5);
}
.btn{
  height: 40px;
  width: 80px;
  border-radius: 5px 5px 5px 5px;
  margin: 40px 0px 0px 0px;
  font-family: 'montseratt', sans-serif;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #0e0d0d;
  font-size: 20px;
  transition: 0.4s ease-out;
}
.btn:focus{
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px rgba(85, 196, 196, 0.5);
}
.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.res-box{
  width: 100%;
  max-width: 800px;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card-cov{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 306px;
  height: 515px;
  border: 3px solid black;
  margin-bottom: 30px;
  box-shadow: 0px 3px 3px 5px rgba(0,0,0,0.1);
  background-color: #f6f4e6;
  transition: 0.4s ease-out;
  cursor: pointer;
}
.details{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.img-box{
  width: 300px;
  height: 444px;
  text-align: center;
}
.card:hover{
  transform: scale(1.05);
}
img{
  min-height: 444px;
  max-height: 444px;
  min-width: 300px;
  max-width: 300px;
}
.title{
  font-size: 20px;
  color: #1e5f74;

}
.detail-cont{
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.det{
  margin-right: 8px;
  min-height: 50px;
  font-size: 20px;
  color:black;
  border: 2px solid black;
  padding: 2px;
  text-align: center;
  background-color: rgba(85, 196, 196, 0.5);
  border-radius: 5px;
  transition: 0.5s ease-out;
}
.details{
  margin-left: 8px;
  transition: 0.5s ease-out;
}
.det:hover{
  transform: scale(1.05);
}
.details:hover{
  margin-left: 11px;
  transform: scale(1.05);
}